
Kaartspel/Kaartspel/.vs/Kaartspel/v15/.suo
Kaartspel/Kaartspel/.vs/Kaartspel/v15/Server/sqlite3/db.lock
Kaartspel/Kaartspel/.vs/Kaartspel/v15/Server/sqlite3/storage.ide
Kaartspel/Kaartspel/.vs/Kaartspel/v15/Server/sqlite3/storage.ide-shm
Kaartspel/Kaartspel/.vs/Kaartspel/v15/Server/sqlite3/storage.ide-wal
